body {
    font-family: 'Roboto Slab', serif;
    background-color: #555566;
} 

.header{
    color: white;
}

.navlinks {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
}

a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

.all{
    background-image: url("https://www.dropbox.com/s/6hlxoy58sste1mi/IMG_0981.jpg?raw=1");
    background-repeat: no-repeat;
    background-position: top left;
    height: 100%;
    background-size: auto;
}