.web-title{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    color: white;
    /*background-color: black;*/
}

body {
    background-color: black;
    background: linear-gradient(to left, rgb(84, 23, 163), rgb(34, 34, 34));
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-size: cover;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
} 

.header{
    color: white;
    background-color: #ffffff60;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

a, a:link, a:visited {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

#mat {
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    background-color: #ffffff20;
}

.pbody {
    color: white;
    background-color: #ffffff60;
    padding: 20px;
}

#sel {
    font-weight: bold;
    color: white;
    background-color: #ffffff60;
    padding-left: 5px;
    padding-right: 5px;
}

#twitter, #snap {
    color: white;
    background-color: #ffffff60;
    padding: 30px;
    padding-left: 35px;
}

#instagram {
    color: white;
    background-color: #ffffff80;
    padding: 30px;
    padding-left: 35px;
}

#social a {
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
}