body {
    font-family: 'Roboto', sans-serif;
    background-color: darkgray;
} 

.header{

    color: white;
}

.navlinks {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
}

a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

.all {

}