.all{
    padding: 35px;
    background: linear-gradient(to bottom right, rgb(19, 19, 128), rgb(99, 7, 7));
    background-position: center;
    height: 100%;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.web-title{
    padding-bottom: 5px;
    padding-right: 10px;
    font-size: 16px;
    color: white;
}

.a, a:link, a:visited {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.row a {
    color: white;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
}

.row{
    height: 50%
}

.col{
    padding: 20px;
}

#twitter {
    background-color: #ffffff60;
}

#instagram {
    background-color: #ffffff60;
}

#snap {
    background-color: #ffffff60;
}