body{
    background: linear-gradient(to bottom right, rgb(19, 19, 128), rgb(99, 7, 7));
    background-position: center;
    height: 100%;
    background-size: cover;
    font-family: 'IBM Plex Sans', sans-serif;
    color: black;
}

.web-title{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    color: white;
}

.a, a:link, a:visited {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

#social a {
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
}

.row{
    height: 33%
}

.col-md-12, .col-md-5{
    padding: 20px;
}

#twitter, #snap {
    color: white;
    background-color: #ffffff60;
    padding: 30px;
    padding-left: 50px;
}

#instagram {
    color: white;
    background-color: #ffffff80;
    padding: 30px;
    padding-left: 50px;
}

#sel {
    font-weight: bold;
    color: white;
    background-color: #ffffff60;
}